// ブレイクポイントを指定
$pc: 900px;
@mixin pc {
  @media screen and (min-width: ($pc)) {
    @content;
  }
}
// font-size指定にremを使う
  @mixin font-size($size, $base: 16) {
    font-size: $size + px;
    font-size: ($size / $base) + rem;
  }
// カラー
$white: #fff;
$red: #FF2A2A;
$base-color: #333333;
$light-blue: #E9F1FB;
$gray: #E8E8E8;

// base
html {
  @include font-size(16);
}
body {
  @include font-size(16);
  background-color: $white;
  color: $base-color;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  // &.is-open {
  //   position: fixed;
  // }
}
img {
  max-width: 100%;
  height: auto;    
}
h2, h3 {
  @include font-size(28); 
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}

// ヘッダー
.l-header {
  display: flex;
  justify-content: space-between;
  &__logo {
    width: 100.19px;
    margin: 25px 0 0 25px;
    @include pc {
      margin: 50px 0 0 40px;
    }
  }
}

// ハンバーガーメニュー
.p-hamburger {
  width: 75px;
  height: 75px;
  background-color: $red;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  @include pc {
    width: 100px;
    height: 100px;
  }
  &::before,
  &::after {
    content: "";
    width: 35px;
    height: 2px;
    background-color: $white;
    position: absolute;
    left: 20.5px;
    display: block;
    transition: transform 0.3s ease-in-out;
    @include pc {
      width: 50px;
      left: 25.5px;
    }
  }
  &::before {
    top: 26px;
    @include pc {
      top: 36px;
    }
  }
  &::after {
    bottom: 27px;
    @include pc {
      bottom: 36px;
    }
  }
  > span {
    width: 35px;
    height: 2px;
    font-size: 0;
    background: $white;
    position: absolute;
    left: 20.5px;
    top: calc( 50% - 1px );
    transition: transform 0.3s ease-in-out;
    @include pc {
      width: 50px;
      left: 25.5px;
    }
  }
  &.is-open {
    background-color: $red;
    &::before {
      transform: rotate( -45deg );
      top: 40px;
      background-color: $white;
      @include pc {
        top: 51px;
      }
    }
    &::after {
      transform: rotate( -135deg );
      bottom: 33px;
      background-color: $white;
      @include pc {
        bottom: 47px;
      }
    }
    > span {
      background: none;
    }
  }
}

// ハンバーガーメニュー展開時の画面
.p-menu {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $red;
  z-index: 50;
  transition: opacity 0.6s;
  &__list {
    margin-top: 112px;
    text-align: center;
    font-weight: bold;
    color: $white;
  }
  &__item {
    margin-bottom: 23px;
  }
  &__link {
    margin: 0 auto;
    text-align: center;
    color: $white;
    font-weight: bold;
    width: 250px;
    border: 1px solid $white;
    padding: 0.5rem;
    position: relative;
    cursor: pointer;
    &::after {
      content: "";
      width: 250px;
      height: 45px;
      border-right: 1px solid $white;
      border-bottom: 1px solid $white;
      position: absolute;
      right: -6px;
      bottom: -6px;
    }
    &:hover {
      background-color: $white;
      color: $red;
      transition: 0.3s ease-in-out;
    }
  }
  &.is-open {
    opacity: 1;
    visibility: visible;
  }
}

// インナー
.c-inner {
  width: 860px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 4.3%;
  @include pc {
    padding: 0;
  }
}
// タイトル
.c-title {
  font-weight: bold;
  text-align: center;
  position: relative;
  @include pc {
    @include font-size(36);
  }
  &::after {
    content: "";
    width: 80px;
    height: 3px;
    background-color: $base-color;
    display: inline-block;
    position: absolute;
    bottom: -12px;
    left: calc(50% - 40px)
  }
}
// 吹き出し（下側）
.c-balloon {
  margin-bottom: 31px;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 22px;
  border-radius: 15px;
  background-color: $light-blue;
  @include pc {
    max-width: 514px;
  }
  &::before {
    content: "";
    position: absolute;
    bottom: -15px;
    width: 30px;
    height: 15px;
    background-color: $light-blue;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
  }
}
// 左側
.c-balloon--left {
  @include pc {
    &::before {
      content: "";
      position: absolute;
      left: -15px;
      bottom: 30px;
      width: 15px;
      height: 30px;
      background-color: $light-blue;
      clip-path: polygon(0 50%, 100% 0, 100% 100%);
    }
  }
}
// 右側
.c-balloon--right {
  @include pc {
    &::before {
      content: "";
      position: absolute;
      right: -15px;
      bottom: 30px;
      width: 15px;
      height: 30px;
      background-color: $light-blue;
      clip-path: polygon(0 0, 100% 50%, 0 100%);
    }
  }
}

// メインビジュアル
.p-home-visual {
  &__container {
    position: relative;
    // width: 375px;
    height: 300px;
    @include pc {
      width: 1037px;
      height: 720px;
      margin: 0 0 0 auto;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      box-shadow: inset 0 0 10px 15px #FFF;
    }
  }
  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: change-img-anim 15s infinite;
    &:nth-of-type(1) {
      animation: change-img-anim-first 15s infinite;
      animation-delay: 0s;
    }
    &:nth-of-type(2) {
      animation-delay: 5s;
    }
    &:nth-of-type(3) {
      animation-delay: 10s;
    }
  }
}
@keyframes change-img-anim-first {
	0%{ opacity: 1;}
  30%{ opacity: 1;}
  36%{ opacity: 1;}
  45%{ opacity: 0;}
  100%{ opacity: 0;}
}
@keyframes change-img-anim {
  0%{ opacity: 0;}
  30%{ opacity: 1;}
  36%{ opacity: 1;}
  45%{ opacity: 0;}
  100%{ opacity: 0;}
}

.p-home-visual {
  position: relative;
  &__text {
    padding: 0 4.3%;
    & > p {
      @include font-size(28);
      font-weight: bold;
      letter-spacing: 2.8px;
    }
    @include pc {
      position: absolute;
      top: 285px;
      left: 10%;
      & > p {
        @include font-size(46);
      }
    }
  }
  &__btn {
    width: 100%;
    height: 61px;
    border-radius: 10px;
    color: $white;
    background-color: #FF0033;
    border-bottom: solid 6px #7A051C;
    text-align: center;
    padding: 0.5rem;
    margin-top: 12px;
    @include font-size(24);
    @include pc {
      width: 479px;
    }
    &:hover {
      transform: scale(1.1);
    }
    & > a {
      position: relative;
      display: inline-block;
      width: 100%;
      &::after {
        content: "";
        width: 11px;
        height: 11px;
        border-right: 3px solid $white;
        border-top: 3px solid $white;
        display: inline-block;
        transform: rotate(45deg);
        padding: 0.5rem;
        position: absolute;
        top: 9px;
        right: 30px;
      }
    }
  }
}

// reason
.p-reason {
  margin-top: 83px;
  @include pc {
    margin-top: 124px;
  }
  &__list {
  margin-top: 62px;
  background-color: $red;
  padding: 40px 0;
  @include pc {
    padding: 80px 0;
  }
  }
  &__item {
    display: flex;
    justify-content: center;
    background-color: $white;    
    width: 96%;
    padding: 21px 19px;
    gap: 30px;
    @include pc {
      width: 50%;
      padding: 73px 162px;
    }
  }
  &__item-left {
    border-radius: 0px 20px 20px 0px;
    margin-bottom: 40px;
    & > img {
      width: 87px;
      object-fit: contain;
    }
  }
  &__item-right {
    border-radius: 20px 0px 0px 20px;
    margin: 0 0 0 auto;
    & > img {
      width: 51px;
      object-fit: contain;
    }
  }
  &__text {
    @include pc {
      white-space: nowrap;
    }
    & > h4 {
      @include font-size(24);
      color: $red;
      font-weight: bold;
      @include pc {
        @include font-size(28);
      }
    }
    & > p {
      @include font-size(18);
    }
  }
}
// 横からスライドイン
.p-fadeup--left {
  opacity: 0;
  transition: 0.5s ease-out;
  &.is-inview {
    opacity: 1;
    animation: slideinLeft 0.5s ease-out forwards;
    transform: translateX(0);
  }
}
.p-fadeup--right {
  opacity: 0;
  transition: 0.5s ease-out;
  &.is-inview {
    opacity: 1;
    animation: slideinRight 0.5s ease-out forwards;
    transform: translateX(0);
  }
}

@keyframes slideinLeft {
  0% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideinRight {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0);
  }
}


// voice
.p-voice {
  margin-top: 83px;
  @include pc {
    margin-top: 124px;
  }
  &__content {
    margin-top: 43px;
    @include pc {
      margin-top: 49px;
    }
    @include pc {
      display: flex;
      justify-content: flex-end;
      gap: 26px;
    }
  }
  &__content--reverse {
    @include pc {
      flex-direction: row-reverse;
    }
  }
  &__img {
    width: 120px;
    background-color: $gray;
    border-radius: 50%;
  }
  &__person {
    text-align: center;
  }
  &__name {
    @include font-size(12);
  }
  & .c-title {
    @include pc {
      margin-bottom: 107px;
    }
  }
}
// 吹き出しふわっと表示
.p-zoomin {
  opacity: 0;
  &.is-animated {
    opacity: 1;
    animation: zoomIn 0.5s ease-out forwards;
  }  
  @keyframes zoomIn {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
}


// about
.p-about {
  margin-top: 83px;
  background-color: $gray;
  background-image: url(../img/bg.gif);
  background-repeat: repeat;
  animation: bg 10s linear infinite;
  @include pc {
    margin-top: 173px;
  }
  & .c-title {
    padding-top: 63px;
  }
  &__list {
    padding: 65px 0 60px 0;
    @include pc {
      display: flex;
      flex-wrap: wrap;
      gap: 32px 60px;
    }
  }
  &__item {
    border-radius: 20px;
    background-color: $white;
    padding: 33px;
    margin-bottom: 32px;
    text-align: center;
    @include pc {
      width: 400px;
      height: 299px;
      margin-bottom: 0;
      padding: 63px;
    }
  }
  &__heading-ja {
    @include font-size(24);
    font-weight: bold;
    @include pc {
      @include font-size(28);
    }
  }
  &__heading-en {
    display: inline-block;
    font-weight: bold;
    margin: 20px 0 33px 0;
    @include pc {
      @include font-size(18);
    }
  }
  &__text {
    text-align: left;
  }
}
// 背景画像を動かす
@keyframes bg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -700px 700px;
  }
}

// contact
.p-contact {
  margin: 83px 0 80px 0;
  text-align: center;
  @include pc {
    margin: 124px 0 119px 0;
  }
  & h3 {
    @include font-size(24);
    @include pc {
      @include font-size(32);
    }
  }
  & p {
    @include pc {
      @include font-size(18);
    }
  }
  &__btn {
    width: 100%;
    background-color: $red;
    border: 3px solid $white;
    color: $white;
    @include font-size(24);
    font-weight: bold;
    border-radius: 40px;
    padding: 0.5rem;
    margin-top: 61px;
    @include pc {
      @include font-size(28);
    }
    &:hover {
      background-color: $white;
      border: 3px solid $red;
      color: $red;
    }
  }
}

// フッター
.l-footer {
  background-color: $gray;
  &__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 33px;
    padding: 62px 0 65px 0;
    @include pc {
      flex-wrap: nowrap;
      gap: 0;
    }
  }
  &__list {
    width: 45%;
    & > a {
      @include font-size(15);
      font-weight: bold;
      @include pc {
        @include font-size(16);
      }
    }
  }
  &__item {
    margin: 13px;
    & li {
      @include font-size(12);
      @include pc {
        @include font-size(16);
      }
    }
  }
  &__copyright {
    @include font-size(10);
    text-align: center;
    padding-bottom: 21px;
  }
}
